@model string



<div class="card w-100"">
    <div class="card-header">
        آدرس :
    </div>
    <ul class="list-group list-group-flush text-center">
        @foreach (var item in Model.Split("--"))
        {
            <li class="list-group-item">@item</li>

        }

    </ul>
</div>