@using _0_Framework.Application
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/AdminTheme/assets/images/favicon.ico">

    <title> بخش مدیریت | @ViewBag.Title</title>

    <link rel="stylesheet" href="~/AdminTheme/assets/plugins/morris/morris.css">
    <link href="~/AdminTheme/assets/css/persian-datepicker.min.css" rel="stylesheet" />
    <link href="~/AdminTheme/assets/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/AdminTheme/assets/plugins/toastr/toastr.css" rel="stylesheet"/>
    @RenderSection("Style",false)

    <script src="~/AdminTheme/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">

    <div id="wrapper">

        <div class="topbar">

            <div class="topbar-left">
                <a class="logo">
                    <span>Lamp<span>Shade</span></span><i class="zmdi zmdi-layers"></i>
                </a>
            </div>
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li>
                            <h4 class="page-title">داشبورد</h4>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
        <partial name="_Menu" />
        <div class="content-page">
            <div class="content">
                <div class="container">


                    @RenderBody()

                </div> 

            </div> 

            <footer class="footer">
                LampShade © @DateTime.Now.ToFarsi()
            </footer>

        </div>


    </div>
    <div class="control-group" id="toastTypeGroup">
        <div class="controls">
            <label>نوع پیغام</label>
            <div class="radio radio-success">
                <input type="radio" name="radio" id="radio1" value="success">
                <label for="radio1">
                    قبول
                </label>
            </div>

            <div class="radio radio-info">
                <input type="radio" name="radio" id="radio2" value="info">
                <label for="radio2">
                    اعلان
                </label>
            </div>

            <div class="radio radio-warning">
                <input type="radio" name="radio" id="radio3" value="warning">
                <label for="radio3">
                    توجه
                </label>
            </div>

            <div class="radio radio-danger">
                <input type="radio" name="radio" id="radio4" value="error">
                <label for="radio4">
                    خظا
                </label>
            </div>

        </div>
    </div>
    <div id="MainModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" id="ModalContent">


            </div>
        </div>
    </div>

    <script>
        var resizefunc = [];
    </script>
    <script src="~/AdminTheme/assets/js/jquery.min.js"></script>
    <script src="~/AdminTheme/assets/js/bootstrap-rtl.min.js"></script>
    <script src="~/AdminTheme/assets/js/detect.js"></script>
    <script src="~/AdminTheme/assets/js/fastclick.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.blockUI.js"></script>
    <script src="~/AdminTheme/assets/js/waves.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.nicescroll.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.slimscroll.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/AdminTheme/assets/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="~/AdminTheme/assets/plugins/morris/morris.min.js"></script>
    <script src="~/AdminTheme/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/AdminTheme/assets/pages/jquery.dashboard.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.validate.min.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.app.js"></script>
    <script src="~/AdminTheme/assets/plugins/toastr/toastr.min.js"></script>
    <script src="~/AdminTheme/assets/js/site.js"></script>
    @await RenderSectionAsync("Scripts", false)
    <script src="~/AdminTheme/assets/js/persian-date.min.js"></script>
    <script src="~/AdminTheme/assets/js/persian-datepicker.min.js"></script>
    <script src="~/AdminTheme/assets/js/jquery.core.js"></script>

    <script type="text/javascript">
        $('.persianDateInput').persianDatepicker({
            format: 'YYYY/MM/DD',
            autoClose: true,
            initialValue: false
        });
    </script>
</body>
</html>