@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>با عرض پوزش شما به این صفحه دسترسی ندارید</title>
    <link type="text/css" href="~/AccessDenied/css/style.css" rel="stylesheet" />
    <link type="text/css" href="~/AccessDenied/" rel="stylesheet" />
</head>
<body class="bg-purple">
<div class="stars">
    <div class="custom-navbar">
        <div class="brand-logo">
            <img src="~/AccessDenied/pics/logo.svg" width="80px">
        </div>
        <div class="navbar-links">
            <ul>
                <li><a class="btn btn-success" href="/" >صفحه نخست</a></li>
            </ul>
        </div>
    </div>

    <div class="central-body">
        <img class="image-404" src="~/AccessDenied/pics/404.png" width="500px">
        <p>با عرض پورش شما به این بخش دسترسی ندارید</p>

    </div>
    <div class="objects">
        <img class="object_rocket" src="~/AccessDenied/pics/rocket.svg" width="40px">
        <div class="earth-moon">
            <img class="object_earth" src="~/AccessDenied/pics/earth.svg" width="100px">
            <img class="object_moon" src="~/AccessDenied/pics/moon.svg" width="80px">
        </div>
        <div class="box_astronaut">
            <img class="object_astronaut" src="~/AccessDenied/pics/astronaut.svg" width="140px">
        </div>
    </div>
    <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>

</div>
<script src="~/AccessDenied/js/jquery-3.1.1.min.js"></script>
</body>
</html>
