@page
@model ServiceHost.Areas.Panel.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "ویرایش پسورد";
}
<div class="box-shadow mb-4 mt-lg-0 border-rad-10 w-100">
    <div class="card-title p-4 border-bottom">
        <i class="fa fa-user"></i>
        <span>ویرایش پسورد کاربری</span>
        @if (Model.Message != null)
        {
            <span class="alert alert-primary" role="alert">
                @Model.Message
            </span>
        }
    </div>
    <div class="card-body p-4 pt-0">
        <div class="row">
            <form method="post" class="w-100" >
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label  asp-for="Command.Password">رمز عبور</label>
                        <input type="password" asp-for="Command.Password" class="form-control" placeholder="رمز عبور">
                        <span asp-validation-for="Command.Password"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Command.RePassword">تکرار رمز عبور</label>
                        <input type="password" asp-for="Command.RePassword" class="form-control" placeholder="تکرار رمز عبور">
                        <span asp-validation-for="Command.RePassword"></span>

                    </div>
                </div>
                <input type="hidden" asp-for="Command.AccountId"/>
                <button type="submit" class="btn btn-primary"> ویرایش</button>
            </form>


        </div>
    </div>
</div>

